/*PALETTE: https://paletton.com/#uid=7000u0k3V4WaYgf7Lb1ac80gJaQ*/

body{
    background-color: #151818;
    color: #446844;
    height: 100vh;
    display:grid;
    grid-template-rows: auto auto auto auto;

}

#hpheader {
    text-align: center;
    padding: 10px;
    padding-top:15px;
    border-bottom: 5px solid #446844; 
    justify-content: center;
    width:70em;
    margin: auto;
}
#hpmaininfo{
    text-align: center;
    justify-content: center;
    padding:5px;
    margin-top:0px;
}
#hpsection{
    margin:50px 25px 50px 25px;
    margin-top: 0px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:100px;
    background-image: url("hpsectionbackground.jpg");
    background-size:cover;
    color:#151818;
    padding:15px;
    border: 3px solid #1c1f1c;
}
#headericon{
    width:50px;
    margin:0px;
    margin-top:10px;
}